/* NORMALIZER */


/* GENERAL STYLES */
body {
  background-color: #f4f3f6;
}

/* STYLE FOR EMPLOYEE LIST COMPONENT */
.employee-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* STYLE FOR EMPLOYEE LIST ITEM COMPONENT */
.employee-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f3f6;
}

.employee-details {
  display: flex;
  text-align: left;
  align-items: center;
}

.employee-name {
  color: #88bde4;
}

.employee-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

.employee-address {

}

/* STYLE FOR BUTTON COMPONENT  */
.button-component {
  display: flex;
}
.button-icon {
  width: 30px;
  height: 30px;
}

/* STYLE FOR NAVBAR */
.navbar-component {
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color: #f4f3f6;
}
.navbar-title {
  font-size: 30px;
}
.navbar-icon {
  width: 30px;
}
